<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{{ if or .IsHome (eq .Title .Site.Title) }}{{ .Site.Title }}{{ else }}{{ with .Title }}{{ . }} | {{ end }}{{ .Site.Title }}{{ end }}</title>
	<link rel="icon" type="image/png" sizes="48x48" href="/favicon.png">
	<link rel="icon" type="image/x-icon" href="/favicon.ico">
	<link rel="apple-touch-icon" href="/apple-touch-icon.png">
	{{ $style := resources.Get "style.css" | minify }}
	<link rel="stylesheet" href="{{ $style.RelPermalink }}">
	{{ with .Site.GetPage "section" "blog" }}
	<link rel="alternate" href="{{ .RelPermalink }}/index.xml" type="application/atom+xml"
		title="{{ $.Site.Params.author }}'s Blog">
	{{ end }}
	{{ with .Site.GetPage "section" "poetry" }}
	<link rel="alternate" href="{{ .RelPermalink }}/index.xml" type="application/atom+xml"
		title="{{ $.Site.Params.author }}'s Poetry">
	{{ end }}
	<link rel="me" href="https://hachyderm.io/@amritxyz">
</head>

<body>
